{
  "extends": [
    "preact",
    "pythoncoderas-combo",
    "plugin:userscripts/recommended"
  ],
  "rules": {
    "userscripts/filename-user": "off",
    "userscripts/no-invalid-metadata": "off",
    "new-cap": "off",
    "camelcase": "off",
    "no-await-in-loop": "off"
  }
}
