.form input,
.form textarea,
.form select {
  background-color: inherit;
}

.form input,
.form select {
  width: 15%;
  border: 1px solid #ddd;
  padding: 3px;
  margin-right: 10px;
}

.form textarea {
  border: 1px solid #ddd;
  width: 100%;
  padding: 3px;
  color: initial;
}

.form > div > *:first-child {
  margin-top: 10px;
}

.form > div > * {
  display: block;
}

.form > div > *:not(:last-child) {
  margin-bottom: 10px;
}

.sceditorContainer input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 3px;
}
